<?xml version="1.0"?>
<!--
core.launch
Author: Levi O. Vasconcelos
Note: Do not run this file directly. Please call run_<file>.launch file instead.
Date: 2020/09/26
-->
<launch>
  <arg name="detector_input_topic" default="/publishers/mask_detector"/>
  <arg name="tracker_input_topic" default="/publishers/tracker_image"/>
  <arg name="image_out_topic" default="/publishers/light_mask"/>
  <arg name="add_entity_topic" default="/publishers/add_entities"/>

  <arg name="tracker_out_topic" default="/subscribers/tracker"/>
  <arg name="detector_out_topic" default="/subscribers/mask_detector"/>
  <arg name="camera_image_topic" default="/subscribers/image_input"/>
  <!-- invoke LightMask node -->
  <node name="light_tracker" pkg="light_tracker" type="LightMask.py" >

    <param name="detector_input_topic" value="$(arg detector_input_topic)" />
    <param name="tracker_input_topic" value="$(arg tracker_input_topic)" />
    <param name="image_out_topic" value="$(arg image_out_topic)" />
    <param name="add_entity_topic" value="$(arg add_entity_topic)" />

    <param name="tracker_out_topic" value="$(arg tracker_out_topic)" />
    <param name="detector_out_topic" value="$(arg detector_out_topic)" />
    <param name="camera_image_topic" value="$(arg camera_image_topic)" />
  </node>
</launch>
