<?xml version="1.0"?>
<!--
run.launch: this file does no more than calling other launch file
Author: Ravi Joshi
Date: 2019/11/23
-->
<launch>
 <include file="$(find light_tracker)/launch/core.launch">
	 <arg name="image_topic" default=""/>
   <arg name="detector_topic" default=""/>
   <arg name="tracker_input_topic" default=""/>
   <arg name="image_out_topic" default=""/>
   <arg name="tracker_out_topic" default=""/>
   <arg name="add_entity_topic" default=""/>
  </include>
</launch>
